body{
	background-image: url(../img/back.png);
	font-family: Tahoma;
}

.wrapper{
	width: 1000px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0px 5px 10px 0px;
}

.logo{
	float: left;
	width: 40%;
	padding-top: 37px;
	background-color: white;
}
.flags{
	width: 60%;
	float: left;
}
.contacts{
	float: right;
	padding: 15px 40px;
	line-height: 21px;
	color: #128aa7;	
	font-size: 12px;	
}

.contacts h1{
	font-weight: bold;
}

.menu-top{
	float: right;
	text-align: right;
}

.nav{
	padding: 30px 30px 0 0;
}	

.nav li{
	width: 60px;
    display: inline-block;	
}

.nav li a{
	display:block;
	padding-top: 45px;
	text-align: center;
	background-position: center top;
	background-repeat: no-repeat;
	color: #128aa7;
	font-size: 10px;	
}

.nav .india a{
	background-image: url(../img/india.png);
}
.nav .nepal a{
	background-image: url(../img/nepal.png);
}
.nav .tibet a{
	background-image: url(../img/tibet.png);
}
.nav .butan a{
	background-image: url(../img/butan.png);
}
.nav .shri a{
	background-image: url(../img/shri.png);
}
.nav .mal a{
	background-image: url(../img/mal.png);
}

.beach{
	height: 237px;
	background-image: url(../img/foto.png);	
	background-repeat: no-repeat;	
}

.main-menu{
	width: 100%;
	border-bottom: 2px solid black;
	background-color: #323232;
}

ul {
	display: block;
	margin: 0;
	padding: 0;
}

ul:after {
	display: block;
	content: ' ';
	clear: both;
	float: none;
}

.menu > li {
	position: relative;
	float: left;
	height: 35px;
	width: 130px;
	margin-right: 10px;
	background-color: #323232;
	text-align: center;
}

.menu > li > a {
	display: block;
	padding-top: 10px;
	color: white;
	text-decoration: none;
	font-size: 14px; 
}

.menu .pointer{
	text-align: left;
}

.menu .pointer:after{
	position: absolute;
	right: 15%;
	bottom: 40%;
	display: block;
	content: '';
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 5px solid white;
}

.menu > li:hover > ul.submenu {
	display: block;
}

.submenu {
	position: absolute;
	top: 37px;
	left: -5px;
	display:none;
	width: 140px;
	background-color: white;
	box-shadow: 0px 5px 10px 0px;
}

.submenu > li {
	display: block;
}

.submenu > li > a {
	display: block;
	padding: 5px;
	color: white;
	background-color: #323232;
	text-decoration: none;
	font-size: 14px;
}

.clearfix:after { 
	content: " ";
	display: block; 
	height: 0; 
	clear: both;
}

.box {
	width: 100%;
	overflow: hidden;
	line-height: 23px;
	color: #424c43;
}

.box h1{
	padding: 15px 0 5px 0;
	font-size: 18px;
	font-weight: bold;
}

.box-left{
	float: left;
	width: 25%;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
	border-right: 1px solid #c7cacf;
	background: #edeef0;
	text-align: center;
	
}

.box-center{
	float: left;
	width: 50%;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.box-right{
	float: right;
	width: 25%;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
	border-left: 1px solid #c7cacf;
	background: #edeef0;
	text-align: center;	
}

.details{
	display: block;
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
}

.footer{
	margin: 10px;
	color: white;
	font-size: 12px;
	text-align: center;
}
