@font-face {
    font-family: 'Helvetica neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	margin:0 auto;
	text-align: center;
}

.wrapper{
	width: 1215px;
	height: 1028px;
	margin: 0 auto;
	background-image: url(../img/back2.jpg);
	font-family: "Helvetica neue";
	font-size: 14px;
}

header{
	width: 100%;
	height: 40px;
	background-color: #085292;
}

header a{	
	color: #60b5ed;
	text-decoration: none;
	font-size: 14px;
} 

.menu-left{	
	float: right;
	margin-right:10px;
	border-right: 2px solid #60b5ed;
}

.flag{
	float: left;
	padding: 7px 6px;
}

.menu-left ul li{
	display: inline-block;	
	font-size: 14px;
	padding: 13px 12px;
}

.menu-left li:hover{		
	background-color: #4eabda;
}

.menu-left li a:hover{
	color:#ffffff;
}

.menu-right a{
	color: #fefefe;
}

.menu-right{
	width: 26%;
	float: right;
	margin-right: 30px;
}

.bg-color{
	background-color: #2f7cc5;
}

.menu-right ul li{
	display: inline-block;
	font-size: 14px;
	padding: 13px 8px;	
}

.under{
	text-decoration: underline;
}

.main{
	width: 40%;
	margin: 15% auto;
	background-color: rgba(0,0,0,0.5);
	color: white;
}

.topic{
	width: 100%;
	height: 10%;
	border-bottom: 2px solid rgba(255,255,255,0.7);
}

h1{
	text-align: center;
	padding: 20px 0;
	font-size: 24px;
}

.card{
	width: 57%;
	margin: 0 auto;
}

.face{
	margin-top: 35px;
	width: 276px;
	height: 36px;
	background-image: url(../img/facebook.png);
}

.face a{
	display: block;
	padding: 10px 15px;
	color:rgba(255, 0, 0, 0);	
}

.line{
	margin: 25px 0px 20px 0px;
	color: #999999;
}

.line hr{
	border-color: black;
	border-top: 1px solid grey;
}	

.line-left{
	float: left;
	width: 44%;
	padding-right: 5px;
}

.line-right{
	float: right;
	width: 44%;
	padding-left:5px;	
}

.form input {
	border:none;
	width: 92%;
	margin: 7px auto;
	padding-left: 20px;
	background-color: #101010;
	height: 35px;
	border-bottom: 1px solid grey;
	color: white;
	font-size: 14px;
}

.form input::-webkit-input-placeholder{
	color: #cccccc;
	font-family: "Helvetica neue";
}

.form input:hover{
	background-color: #1b5288;
	box-shadow: 0px 0px 5px 3px rgba(104,155,204,1);
}

.details{
	margin: 15px 0px;
	font-size: 14px;
	text-align: left;
}

.submit {
	width: 131px;
	padding: 10px 0px;
        border: 1px solid #47a1d5;
        border-radius: 3px;
        color: white;
        background-color: #47a1d6;  
        font-size: 14px;
        cursor: pointer;
 }   

.submit:hover {
	box-shadow: inset 0px -20px 20px #ffffff;
}

.submit:active {
	margin-top: 1px;
	margin-bottom: -1px;
}

.footer span{
	display: block;
        text-align: center;
        padding: 20px 90px;
        font-size: 11px;
        line-height:16px;
}