table{
	width: 530px;
	height: 580px;
	margin: 0 auto;
	border-collapse: collapse;
	border:12px solid white !important;
}
table td{
	border: 10px solid black;
}
.cell-1{
	width: 115px;
	height: 45px;
}
.cell-2{
	width: 195px;
	height: 45px;
}
.cell-3{
	width: 160px;
	height: 45px;
	background-color: #fff574;
}
.cell-4{
	width: 40px;
	height: 128px;
}
.cell-5{
	width: 270px;
	height: 265px;
	background-color: #ff6535;
}
.cell-6{
	width: 160px;
	height: 125px;
	background-color: #fff574;
}
.cell-7{
	width: 40px;
	height: 135px;
}
.cell-8{
	width: 80px;
	height: 130px;
}
.cell-9{
	width: 70px;
	height: 130px;
}
.cell-10{
	width: 135px;
	height: 130px;
	background-color: #1e1e1e;
}
.cell-11{
	width: 130px;
	height: 60px;
}
.cell-12{
	width: 160px;
	height: 60px;
}
.cell-13{
	width: 40px;
	height: 130px;
	background-color: #fff574;
}
.cell-14{
	width: 130px;
	height: 60px;
}
.cell-15{
	width: 160px;
	height: 93px;
	background-color: #0a4787;
}
.cell-16{
	width: 130px;
	height: 65px;
}
.cell-17{
	width: 130px;
	height: 30px;
	background-color: #1e1e1e;
}
.cell-18{
	width: 295px;
	height: 30px;
}
